.text-stroke {
  -webkit-text-stroke: 2px #f6f6f6;
}
.text-stroke-dark {
  -webkit-text-stroke: 2px #0000008f;
}

@keyframes menuAni {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

#mobileMenu {
  overflow: hidden;
  height: 0;
}

#mobileMenu.active {
  height: 100vh;
}

#mobileMenu.out #mobileMenuContent {
  animation: menuAni 0.3s 0s forwards reverse;
}

#mobileMenu.in #mobileMenuContent {
  animation: menuAni 0.3s 0s forwards;
}
